*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************
        utility
*******************************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-right{
    float: right;
}


/*******************************
        Layout
*******************************/
body{
    font-family: 'Open Sans', sans-serif;
}

/* [class*="col"]{
    float: left;
} */

.conteiner-big{
    width: 1367px;
    margin: auto;
}

.conteiner-small{
    width: 1010px;
}

.col_1_9{
    width: calc(100% / 9);
}

.col_2_9{
    width: calc(100% / 9 *2);
}

.col_3_9{
    width: calc(100% / 9 *2);
}

.col_4_9{
    width: calc(100% / 9 *2);
}

.col_5_9{
    width: calc(100% / 9 *2);
}

.col_6_9{
    width: calc(100% /9 * 6);
}

h1{
    font-size: 77px;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 16px;
}

.text-small{
    font-size: 14px;
}

/******************************
        elementi-comuni
******************************/
.btn{
    padding: 5px 20px;
    background-color: #0061ff;
    color: white;
}


/****************************/

nav{
    background-color: aquamarine;
    display: fixed;
    padding: 0 10px;
    width: 100%;
}

.logo-conteiner{
    display:inline-block;
}

.menu-logo{
    vertical-align: middle;
    transform: translate(0, -3px);
    padding-right: 10px;
}

.main-menu{
    display: inline-block;
    list-style: none;
}

.main-menu>li{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

a{
    color:black;
    text-decoration: none;
}


.hero{
    background-color: #b4d0e7;
}
.hero-text{
    display: inline-block;
}

.download-ico{
    display: block;
}

.hero-img{
}




main{
    background-color: rebeccapurple;
    height: 200px;
}