*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************
        utility
*******************************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}


/*******************************
        Layout
*******************************/
body{
    font-family: 'Open Sans', sans-serif;
}

[class*="col"]{
    float: left;
} 

.conteiner-big{
    width: 1337px;
    margin: auto;
    margin-top: 20px;
    transform: translate(0, 80px);
}

.conteiner-small{
    width: 1010px;
    margin: auto;
    padding-top: 200px;
}

.col_1_9{
    width: calc(100% / 9);
}

.col_2_9{
    width: calc(100% / 9 *2);
}

.col_3_9{
    width: calc(100% / 9 *3);
}

.col_4_9{
    width: calc(100% / 9 *4);
}

.col_5_9{
    width: calc(100% / 9 *5);
}

.col_6_9{
    width: calc(100% /9 * 6);
}

h1{
    font-size: 77px;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 16px;
}

.text-small{
    font-size: 14px;
}

label{
    padding: 10px;
}

a{
    color: #1970ff;
}
/******************************
        elementi-comuni
******************************/
.btn{
    padding: 5px 20px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}


/****************************/

nav{
    background-color: white;
    position: fixed;
    top: 0;
    padding: 0 10px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid;
    box-shadow: 1px 1px;
}

.logo-conteiner{
    display:inline-block;
}

.menu-logo{
    vertical-align: middle;
    transform: translate(0, -3px);
    padding-right: 10px;
}

.main-menu{
    display: inline-block;
    list-style: none;
}

.main-menu>li{
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
}
.main-menu li a{
    text-decoration: none;
    color:black;
}


.main-menu li a.btn{
    color: white;
}


.hero{
    background-color: #b4d0e7;
}

.hero-title{
    padding-bottom: 50px;
}

.hero-text{
    padding-right: 60px;
}

.hero-btn{
    padding: 10px 20px
}

.hero-btn-conteiner{
    margin-top: 45px;
    margin-bottom: 25px;
}

.download-ico{
    transform: translate(0, 40px);
    font-size: 50px;
}

.download-ico a{
    color: black;
}

/******************************************
            section 1
******************************************/

.col-elements{
    width: 90%;
}


.title-section{
    padding-bottom:80px;
}

.row{
    padding: 50px 0;
    width: 100%;
}

.name-option{
    border: 1px solid #d0d0d3;
    text-align: center;
    padding:10px;
}

.info-plan-conteiner{
    border: 1px solid #d0d0d3;
    padding: 10px 20px;
    height: 100%;

}

li {
    list-style-type: none;
}

.info-plan-title{
    padding-bottom: 20px;;
}

.info-plan-price{
    padding-bottom: 5px;
}

.info-plan-detail{
    padding-bottom: 50px;
}

.info-plan-2>li{
    padding-bottom: 45px;
}

.buy-link{
    padding: 45px 0;
    font-weight: bold;
}

.info-plane-hr{
    width: 15%;
    border: 1px solid #d0d0d3;
    transform: translate(0, 30px);
}

.info-plan-3{
    padding-top: 40px;
}

.info-plan-3>li{
    padding-bottom: 30px;
}

.info-plan-3 li i{
    color: #1970ff;
}


.info-plan-marker-list{
    display: inline-block;
}

.info-plan-text-list{
    display: inline-block;
    width: 90%;
    vertical-align: top;
    padding-left: 3px;
}